# ROS 2 / colcon
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python distribution files
*.egg-info/
dist/
